include includes/head
include includes/nav-bar

div.container-fluid.well
	div.row-fluid
	div.span1
		&nbsp;
	div.span10
		table(id='record-table').table.table-condensed
			thead
				tr
					th 
						span(id="add")
							i.icon-plus-sign
					th Name
					th ID
					th Type
					th Data
					th TTL
					th Updated
					th Created
			tbody
				- each record in records
					tr
						td
							input(type="checkbox")
						td
							input(type="text", id="record-val", value=record.name).input-hidden
						td= record.id
						td
							div.control-group
								div.controls
									select(id="record-type")
										option(selected=('A'==record.type?'selected':null)) A
										option(selected=('AAAA'==record.type?'selected':null)) AAAA
										option(selected=('CNAME'==record.type?'selected':null)) CNAME
										option(selected=('MX'==record.type?'selected':null)) MX
										option(selected=('NS'==record.type?'selected':null)) NS
										option(selected=('TXT'==record.type?'selected':null)) TXT
										option(selected=('SVR'==record.type?'selected':null)) SVR
						td
							input(type="text", id="record-val", value=record.data).input-hidden
						td
							input(type="text", id="record-val", value=record.ttl).input-hidden
						td= record.updated
						td= record.created
						
		br
		br
		button(type="submit").btn.btn-large.btn-primary Save changes
		button(type="reset").btn.btn-large Cancel
	div.span1
		&nbsp;
		
script(src="/public/js/jquery.js")
script
	$("document").ready(function() {
		$("#add").on('click', function(e) {
			var html = "<tr>" + $('#record-table tbody tr:last').html() + "</tr>";
			$("#record-table tbody").append(html);
		});
		$("#delete").on('click', function(e) {
			var html = "<tr>" + $('#record-table tbody tr:last').html() + "</tr>";
			$("#record-table tbody").append(html);
		});
		$('input[type="checkbox"]').change(function() {
			if($(this).parents('tr').hasClass('delete'))
				$(this).parents('tr').removeClass('delete label-important');
			else
				$(this).parents('tr').addClass('delete label-important');
		});
	});

include includes/footer
