include includes/doctype
html(class="no-js", lang="en")
	// <![endif]
	head
		title Rackspace DNS
		include includes/head
	body
		include includes/nav-bar
		div.container-fluid.well
			div.row-fluid
			div.span1
				&nbsp;
			div.span10
				table.table.table-condensed
					thead
						tr
							th
							th Domain Name
							th Domain ID
							th Comment
							th Account ID
							th TTL
							th Email Address
							th Updated
							th Created
					tbody
						- each domain in domains
							tr
								td
									input(type="checkbox")
								td
									a(href="/details/"+domain.id)= domain.name
								td= domain.id
								td= domain.comment
								td= domain.accountId
								td= domain.ttl
								td= domain.emailAddress
								td= domain.updated
								td= domain.created
		
			div.span1
				&nbsp;
		script(src="/public/js/jquery-1.7.2.min.js")
		
		include includes/footer
